body {
  background-color: black;
}

.content {
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.input-keyboard {
  background-color: black;
  border: 0px;
  border-bottom: 1px solid rgb(161, 161, 161);
  color: white;
  text-align: center;
}

.input-keyboard:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.keyboard-keys {
  min-height: 2rem;
}

.keyboard-keys > button {
  background-color: black;
  border: 0px;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  color: white;
}

.keyboard-keys > button:hover {  
  border-radius: 1.5rem;
  color: white;
  background-color: rgb(97, 97, 97);
}

.keyboard-keys > button:focus {    
  outline: none;
  border-radius: 1.5rem;
  color: white;
  background-color: rgb(97, 97, 97);
}

.keyboard-bar {
  min-height: 2rem;
  color: white;  
  text-align: center;
}


.keyboard-bar > button {
  background-color: black;
  border: 0px;
  height: 1.5rem;
  text-align: center;
  color: white;
}

.keyboard-bar > button:hover {  
  color: rgb(163, 163, 163);
}

.keyboard-bar > button:focus {    
  outline: none;
  color: rgb(163, 163, 163);
}

.keyboard-bar-space {
  font-size: 2rem;
  height: 5rem;
}